<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Product Add</title>
		<style>
			.navbar {
				width: 100%;
				height: 60px;
				background-color: red;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
			}
			.navbar a {
				color: blue;
				text-decoration: none;
				padding-left: 20;
			}
			.links {
				display: flex;
				gap: 20px;
			}
		</style>
	</head>
	<body>
		<h1>Product Add page</h1>
		<nav class="navbar">
			<a href="/">Main page</a>
			<a href="/products">Product page</a>
			<a href="/products/add">Product-add</a>
		</nav>
		<ul>
			<li>Apple</li>
			<li>Banana</li>
	</body>
</html>
